body {
  background-color: ;
  height: 100vh;
  width: 100vh;
  background-color: rgb(9, 28, 10);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-top: 20%;
}
.calc {
  box-shadow: 1px 0px 5px 8px rgb(33, 33, 34);
  width: 400px;
  height: 450px;
  background-color: #080807;
  border-radius: 10px;
  box-shadow: 2px;
}

#display {
  border: 2px solid black;
  background-color: #252525;
  width: 335px;
  height: 60px;
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 10px;
  pointer-events: none;
}
.output input {
  padding-left: 20px;
  color: rgb(9, 250, 57);
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.row-1 button {
  background-color: #cccccc;
  font-size: 1.1rem;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-left: 35px;
  margin-top: 30px;
}

.row-2 button {
  background-color: #444242;
  font-size: 1.1rem;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-left: 35px;
  margin-top: 20px;
}

.row-3 button {
  background-color: #3d3c3c;
  font-size: 1.2rem;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-left: 35px;
  margin-top: 30px;
}

.row-4 button {
  background-color: #cccccc;
  font-size: 1.2rem;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-left: 35px;
  margin-top: 30px;
}

.allbutton button {
  box-shadow: 1px 2px 3px slategray;
  background-color: #585757;
  color: rgb(92, 253, 34);
  font-weight: bold;
  border-radius: 9px;
  font-size: 1.6rem;
}
